<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddwu.com.mobile.example.lbs.ma01_20180215">

    <!--기기에 카메라가 있을 경우에만 palystore 에서 다운받도록 지정-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application

        android:allowBackup="false"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <!--외부의 앱이 내 앱의 파일을 접근할 수 있도록 FileProvider 지정-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ddwu.com.mobile.example.lbs.ma01_20180215.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>




        <activity android:name="ddwu.com.mobile.example.lbs.ma01_20180215.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ddwu.com.mobile.example.lbs.ma01_20180215.ListActivity"></activity>
        <activity android:name="ddwu.com.mobile.example.lbs.ma01_20180215.AddActivity"></activity>
        <activity android:name="ddwu.com.mobile.example.lbs.ma01_20180215.DetailActivity"></activity>
        <activity android:name="ddwu.com.mobile.example.lbs.ma01_20180215.UpdateActivity"></activity>

        <service
            android:name="ddwu.com.mobile.example.lbs.ma01_20180215.FetchLatLngIntentService"
            android:exported="false"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

    </application>

</manifest>